

/* here we have two font: advent pro and Dancing pro */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Dancing+Script:wght@600&display=swap');
html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Advent Pro', sans-serif;
  background-color: #f5f6fa2a;
  padding: 0%;
  margin: 0%;
  height: 1.2em;
  font-size: larger;

}

ul {
  list-style-type: none;
  padding: 5;
  display: flex;


}

header li {
  float: right;
  /* font-size: 1.2em;  pour que la taille s'adapte a l'ecran d'affichage */
  font-size: 1.2em;

}
/* here I have a issue to change the #contact place  */
header, li, #contact {
  font-family: 'Advent pro', cursive;
  font-weight: bold;
  margin: 1.2em auto;
  float: relative;
}

.bar-graph-horizontal {
  max-width: 380px;
  color-interpolation-filters: linearRGB;

}

.bar-graph-horizontal > div {
  float: right;
  margin: 8px;
  width: 100%;
}

.bar-graph-horizontal .numbers {
  color:#2e86de;
  margin-bottom: auto;
  width: 50px;
  float: left;
  display: list-item;
  position: absolute;
  bottom: 0;
}

.numbers li{
  list-style: none;
  position: relative;
  display: table-cell;
  position: relative;
}
.numbers span{
margin: 8em;
float: relative;
display: flex;
}
.bar-graph-horizontal .options {
  color: #2e86de;
  margin-top: auto;
  width: 100px;
  height: 100%;
  display: flow-root;
}

.options li{
  list-style: none;
  height: 52px;
  position: -webkit-sticky;
  bottom: auto;
  display: flow-root;
}

#titleDisplay {
  margin-left: auto;
  margin-right: auto;
  color: black;
}
/* ****** ***** ***** */


/* =====  NAV BAR ===== */

#deuxiemeTrait {
  height: 10px;
  width: 75%;
  background-color: aqua;
  margin: auto;
  padding: 0 2%;
  display: flex;
  margin-bottom: 0ex;


}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 40px;
  padding: 0 10%;

}
#copyright {
  width: 50%;
  text-align: left;
  color: #FFFAE1;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #FFFAE1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

