

/* here we have two font: advent pro and Dancing pro */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Dancing+Script:wght@600&display=swap');
html {
  scroll-behavior: smooth;
}

 body {
  font-family: 'Advent Pro', sans-serif;
  background-color: #f5f6fa2a;
  padding: 0%;
  margin: 0%;
  height: 1.2em;
  font-size: larger;
}
ul {
  list-style-type: none;
  padding: 5;
  display: flex;
}
header li {
  float: right;
  font-size: 1.2em;
}
header, li, #contact {
  font-family: 'Advent pro', cursive;
  font-weight: bold;
  margin: 1.2em auto;
  float: relative;
}
h3, .a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* margin-left: 9; */
  float: relative;
  background-color: aqua;
  outline-color: aqua;
}
#titleDisplay {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 55px; */
  color: rgba(10, 124, 218, 0.918);
  font-size: 2em;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  }
.chartMenu {
  width: 200vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(255, 26, 104, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(10, 124, 218, 0.918);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgb(255, 26, 26);
  background: white;
}
div#chartNew.chartBox {
  font-family: 'Courier New' sans-serif;
  color: #df0c0c;
}

/* =====  NAV BAR ===== */

#bottomLine {
  height: 10px;
  width: 75%;
  background-color: rgb(10, 66, 219);
  margin: auto;
  padding: 0 2%;
  display: flex;
  margin-bottom: 0ex;
}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 40px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #f00927;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #df0c0c;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}

